# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

#media
*.mp4
*.mp3
